  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body, html{
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, rgba(223, 85, 223, 0.5),rgba(25, 209, 25, 0.3)) ;
}
h1{
    margin: 0;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
